# Byte-compiled / optimised / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.env/
.venv/
env/
ENV/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/


# Jupter Notebook checkpoints
.ipynb_checkpoints


# PyCharm / VS Code / other IDE settings
.idea/
.vscode/
*.sublime-projects
*.sublime-workspace

# macOS / Windows System files
.DS_Store
Thumb.db 

# Log files
*.log

# Temporary files
*.tmp 
*.swp 
*.bak 

# Environment variables / secrets
.env
*.env
.env.local
.env.*.local

# Books folder
Books/

# Projects folder
PROJECTS/